* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body,
 html {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     background: #f1eeee;
     font-family: 'Permanent Marker', cursive

 }



 /* Search Bar */
 .search {
     margin-top: 10%;
     height: 70px;
     background-color: #fff;
     border-radius: 40px;
     padding: 10px
 }

 .search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  font-family: Arial, Helvetica, sans-serif;
}

 .search .search_input {
     padding: 0 10px;
     width: 550px;
     caret-color: red;
     transition: width 0.4s linear
 }

 .search:hover>.search_icon {
     background: red;
     color: #fff
 }

 .search_icon {
     height: 50px;
     width: 50px;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     color: white;
     background-color: black
 }

 a:link {
     text-decoration: none
 }


/* small cards */

.search-results{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.mt-100 {
    margin-top: 100px
}

.card {
    border-radius: 7px !important;
    border-color: #e1e7ec
}

.mb-30 {
    margin-bottom: 30px !important
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec
}

a {
    color: #0da9ef;
    text-decoration: none !important
}

.card-img-tiles>.inner {
    display: table;
    width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .main-img>img:last-child,
.card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.thumblist {
    width: 35%;
    border-left: 1px solid #e1e7ec !important;
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
 

.navbar-custom{
    background-color: #66BB6A;
}


.search-results{
    justify-content: flex-start;
}












.footer-subscribe input[type=text] {
    border: 1px solid #ff3514;
    border-radius: 55px;
    font-size: 12px;
    padding: 12px 40% 12px 20px;
    background: transparent;
    width: 98%;
    box-shadow: none !important
}

.mt-100 {
    margin-top: 200px
}

a,
button[type="submit"],
input[type=text] {
    color: #333;
    text-decoration: none;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out
}

.footer-subscribe .btn-theme {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0
}

.btn-theme:hover {
    box-shadow: none
}

.btn-theme {
    color: #FFF !important;
    padding: 0.5rem 1.9rem;
    font-weight: 400;
    font-size: 0.875rem;
    display: inline-block;
    display: inline-flex;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px
}

.bg-orange {
    background: #ff3514
}



/* Nav Bar */


.navigation-clean {
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    border-radius:0;
    -webkit-box-shadow:none;
            box-shadow:none;
    border:none;
    margin-bottom:0;
    height: 100px;
    font-size: 18px;
  
  }
  
  @media (max-width:767px) {
    .navigation-clean {
      padding-top:0;
      padding-bottom:0;
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean .navbar-header {
    }
  }
  
  .navigation-clean .navbar-brand {
    font-weight:600;
    color:inherit;
  }
  
  .navigation-clean .navbar-brand:hover {
    color:#222;
  }
  
  .navigation-clean.navbar-inverse .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .navigation-clean .navbar-brand img {
    height:100%;
    display:inline-block;
    margin-right:10px;
    width:auto;
  }
  
  .navigation-clean .navbar-toggle {
    border-color:#ddd;
  }
  
  .navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
    background:none;
  }
  
  .navigation-clean.navbar-inverse .navbar-toggle {
    border-color:#555;
  }
  
  .navigation-clean .navbar-toggle .icon-bar {
    background-color:#888;
  }
  
  .navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#eee;
  }
  
  .navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
    border-top-color:#ddd;
  }
  
  .navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
    border-top-color:#333;
  }
  
  .navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
    background:none;
    -webkit-box-shadow:none;
            box-shadow:none;
  }
  
  .navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
    color:#8f8f8f;
    -webkit-box-shadow:none;
            box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean.navbar .navbar-nav > li > a {
    padding-left:18px;
    padding-right:18px;
  }
  
  .navigation-clean.navbar-default .navbar-nav > li > a {
    color:black;
    font-weight: 600;
  }
  
  .navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
    color:#37434d !important;
    background-color:transparent;
  }
  
  .navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,.1);
            box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  @media (max-width:767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu {
      -webkit-box-shadow:none;
              box-shadow:none;
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
      color:#37434d;
      padding-top:12px;
      padding-bottom:12px;
      line-height:1;
    }
  }
  
  .navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
    background:#eee;
    color:inherit;
  }
  
  .navigation-clean.navbar-inverse {
    background-color:#1f2021;
    color:#fff;
  }
  
  .navigation-clean.navbar-inverse .navbar-nav > .active > a, .navigation-clean.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean.navbar-inverse .navbar-nav > .active > a:hover {
    color:#8f8f8f;
    -webkit-box-shadow:none;
            box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean.navbar-inverse .navbar-nav > li > a {
    color:#dfe8ee;
  }
  
  .navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
    color:#fff !important;
    background-color:transparent;
  }
  
  .navigation-clean.navbar-inverse .navbar-nav > li > .dropdown-menu {
    background-color:#1f2021;
  }
  
  .navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a {
    color:#f2f5f8;
  }
  
  .navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a:hover {
    background:#363739;
  }
  
  @media (max-width:767px) {
    .navigation-clean.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color:#fff;
    }
  }
  
  .side-nav{
    display: block;
    background-color: #3FB5C5;
    min-height: 500px;
  }
  
  .navigation-clean-button {
    background:#fff;
    padding-top:10px;
    padding-bottom:10px;
    color:#333;
    border-radius:0;
    -webkit-box-shadow:none;
            box-shadow:none;
    border:none;
    margin-bottom:0;
  }
  
  @media (max-width:767px) {
    .navigation-clean-button {
      padding-top:0;
      padding-bottom:0;
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean-button .navbar-header {
      padding-top:10px;
      padding-bottom:10px;
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean-button .navbar-right {
      margin-bottom:20px;
    }
  }
  
  .navigation-clean-button .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .navigation-clean-button .navbar-brand:hover {
    color:#222;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .navigation-clean-button .navbar-brand img {
    height:100%;
    display:inline-block;
    margin-right:10px;
    width:auto;
  }
  
  .navigation-clean-button .navbar-toggle {
    border-color:#ddd;
  }
  
  .navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus {
    background:none;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-toggle {
    border-color:#555;
  }
  
  .navigation-clean-button .navbar-toggle .icon-bar {
    background-color:#888;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#eee;
  }
  
  .navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
    border-top-color:#ddd;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form {
    border-top-color:#333;
  }
  
  .navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
    background:none;
    -webkit-box-shadow:none;
            box-shadow:none;
  }
  
  .navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
    color:#8f8f8f;
    -webkit-box-shadow:none;
            box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean-button.navbar .navbar-nav > li > a {
    padding-left:18px;
    padding-right:18px;
  }
  
  .navigation-clean-button.navbar-default .navbar-nav > li > a {
    color:#465765;
  }
  
  .navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
    color:#37434d !important;
    background-color:transparent;
  }
  
  .navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,.1);
            box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
    background:#eee;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .navigation-clean-button .navbar-nav .open .dropdown-menu {
      -webkit-box-shadow:none;
              box-shadow:none;
    }
  }
  
  @media (max-width:767px) {
    .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a {
      color:#37434d;
      padding-top:12px;
      padding-bottom:12px;
      line-height:1;
    }
  }
  
  .navigation-clean-button.navbar-inverse {
    background-color:#1f2021;
    color:#fff;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover {
    color:#8f8f8f;
    -webkit-box-shadow:none;
            box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-nav > li > a {
    color:#dfe8ee;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover {
    color:#fff !important;
    background-color:transparent;
  }
  
  .navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu {
    background-color:#1f2021;
  }
  
  .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a {
    color:#f2f5f8;
  }
  
  .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover {
    background:#363739;
  }
  
  @media (max-width:767px) {
    .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color:#fff;
    }
  }
  
  .navigation-clean-button .actions {
    margin-top:7px;
    margin-bottom:0;
  }
  
  .navigation-clean-button .actions .login {
    margin-right:7px;
    text-decoration:none;
    color:#465765;
  }
  
  .navigation-clean-button.navbar-inverse .actions .login {
    color:#dfe8ee;
  }
  
  .navigation-clean-button.navbar-inverse .actions .login:hover {
    color:#fff;
  }
  
  .navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
    background:#56c6c6;
    border-radius:20px;
    color:#fff;
    -webkit-box-shadow:none;
            box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    -webkit-transition:background-color 0.25s;
    transition:background-color 0.25s;
  }
  
  .navigation-clean-button .action-button:hover {
    background:#66d7d7;
  }
  
  .navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active {
    background:#208f8f;
  }
  
  .navigation-clean-button.navbar-inverse .action-button:hover {
    background:#269d9d;
  }
  
  .register-photo {
    background:#fff;
    padding:60px 0;
    background-size:cover;
    position: relative;
    border:none;
    margin-bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    height:auto;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.1);
            box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    margin-top: -20px;
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
    font-weight: 600;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    -webkit-box-shadow:none;
            box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .checkbox {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background:#000;
    border:none;
    border-radius:4px;
    padding:11px;
    -webkit-box-shadow:none;
            box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#3FB5C5;
  }
  
  .register-photo form .btn-primary:active {
    -webkit-transform:translateY(1px);
            transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .heading{
      text-align: center;
      color: #3FB5C5;
  }
  
  /* Homepage */
  
  /* Nav */
  
  .navbar {
    margin-bottom:0;
    border:none;
  }
  
  .navbar-brand .glyphicon {
    margin-right:6px;
  }
  


/* Star Rating  */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow-x: inherit;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer;
    display: inline-flexbox;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.star-title{

}

h1,
p,
h2 {
    text-align: center
}

h1 {
    margin-top: 150px
}

p {
    font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

    p {
        font-size: 12px
    }


    .rating>label {
        position: relative;
        width: 1em;
        font-size: 4vw;
        color: #FFD600;
        cursor: pointer;
        display: inline-flexbox;
    }

}


/* Long Cards */
.card-border{
    border: #000;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

.card-content{
    justify-content: center;

}

.product-image{
    margin-top: 10%;
}


@media only screen and (max-width: 992px) {

.product-image{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search_icon{
opacity: 0;}
;}

.landing-img{
  height: 50%;
  width: auto;
}

.card-title{
margin-top: 4%

;}

.card-results{
  margin-top: 10%;
}
